{# Load layout template #}
{% extends "layout.njk" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="error" style="position: center">
        <h1>Oops, couldn't find that page.</h1>
        <h2>That was a {{ request.code }}.</h2>
        <code>
            (Current) Request Status: {{ request.requestStatus }}
            <br>
            Error code: {{ request.code }}
        </code>
    </div>
{% endblock %}