{# Load layout template #}
{% extends "layout.njk" %}

{% block content %}

{# Include template blocks #}
{% include "templates/nav.njk" %}
{% include "templates/header.njk" %}


{# Define and loop through output from the API #}
{% set movies = api.imdb("Harry") | await %}
{% asyncAll i in movies %}
<p>Title: {{ i.title }}</p>
<p>Year: {{ i.year }}</p>
<p>IMDB ID: {{ i.id }}</p>
<p>Type {{ i.type }}</p>
<iframe width="180" height="150" src={{ i.trailer | dump | replace('"', "") | replace("/watch?v=", "/embed/") }}></iframe><br>
{% endall %}

{# Set active page #}
<script>
    let setActive = document.getElementById(`{{ title | replace(" ", "-") }}`);
    setActive.classList.add("active")
</script>

{#    {{1 + 9}} should be 10#}
{% endblock %}
