{% extends "layout.njk" %}

{% block content %}

    {% include "templates/nav.njk" %}
    {% include "templates/header.njk" %}


{% set movies = api.imdb("Harry") | await %}
  {% asyncAll i in movies %}
<p>Title: {{ i.title }}</p>
<p>Year: {{ i.year }}</p>
<p>IMDB ID: {{ i.id }}</p>
<p>Type {{ i.type }}</p>
<iframe width="180" height="150" src={{ i.trailer | dump | replace('"', "") | replace("/watch?v=", "/embed/") }}></iframe><br>
{% endall %}

<script>
    let setActive = document.getElementById(`{{ title | replace(" ", "-") }}`);
    setActive.classList.add("active")
</script>

{#    {{1 + 9}} should be 10#}
{% endblock %}
