<!doctype html>
<html lang="en">
  <head>
    <title>Dept assignment - {{ title }}</title>
    <link type="text/css" rel="stylesheet" href="/css/fonts.css">
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/nav.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
  </head>
  <body>
    {% block  content %}
    {% endblock %}
  </body>
</html>