{% block content %}
    <ul>
{# Loop through all NAV items and load acording URLS #}
        {% for name in nameList %}
            {% set url = urlList[loop.index0] %}
                <li>
                    <a class="nav-text" id="{{ name | replace(" ", "-") }}" href="{{ url }}">{{ name }}</a>
                </li>
        {% endfor %}
    </ul>
{% endblock %}